
body {
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    height: 100vh;
    transition: all 0.3s;
    overflow-y: auto;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4e555b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    background: #6f757a;
}

#content {
    width: 100%;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.btn-danger {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

    #sidebar .sidebar-header h3 {
        font-size: 1.7em;
    }

    #sidebar ul li a {
        padding: 5px;
        font-size: 0.85em;
    }
}
#notificationBell {
    font-size: 25px; /* Set font size */
    position: relative; /* Position relative for absolute positioning of the count */
    cursor: pointer;
    margin-top: 10px;
}
  

  .notificationCount {
    position: absolute; 
    top: -8px;
    right: -8px; 
    width: 20px;
    height: 20px; 
    background-color: red; 
    border-radius: 50%; 
    color: white;
    text-align: center;
    font-size: 12px; 
    line-height: 20px; 
    
  }
  #leaveRequestForm{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding:15px;
    border-radius:10px;
  }
  .grades-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  .score-label {
    font-weight: bold;
  }
  .score-value {
    font-size: 18px;
  }